<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Servicos')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <br>
    <h1 class="text-center">Serviços</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table id="tabela" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Cod.</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Descricao</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="servico : ${servicos}">
                            <th class="col-1" scope="row" th:text="${servico.getId()}">ID</th>
                            <td class="col-3" th:text="${servico.nome}">Nome</td>
                            <td class="col-3" th:text="${servico.descricao}">Descricao</td>
                            <td class="col-4" th:text="${'R$ '+servico.valor}">Valor</td>
                            <td class="col"> <a th:href="@{/servicos/{servicoId}/edit(servicoId = ${servico.id})}"><button type="button" class="btn btn-dark btn-sm"><i class="fa-solid fa-pen-to-square"></i></button></a></td>
                            <td class="col">
                                <a data-bs-toggle="modal" data-bs-target="#modaldelete" th:attr="data-bs-target='#modaldelete'+${servico.id}" href="#" ><button type="button" class="btn btn-dark btn-sm" ><i class="fa-solid fa-trash-can"></i></button>
                                </a>
                                <!-- Caixa de Notificacao Delete -->
                                <div th:replace="~{fragmentos :: confirmacaoDeleteServico}"></div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <a th:href="@{/servicos/new}"><button type="button" class="btn btn-dark btn-sm"><i class="fa-solid fa-plus"></i> Novo Serviço</button></a>
        </div>
    </div>
    
</body>

</html>