<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: head('Cadastrar Servico')}"></head>
    <body>
        <nav th:replace="~{fragmentos :: navmenu}"></nav>
       <form th:object="${requisicaoServico}" method="POST" action="/servicos" class="formCadastro needs-validation "
        novalidate>
        <h2 class="titulo-cadastro-cliente ">Novo Servico </h2>
        <div class="mb-3 position-relative">
            <label for="exampleInputEmail1" class="form-label">Nome do Servico* </label>
            <input type="text" class="form-control" th:field="*{nome}" placeholder="Nome do Servico" required>
            <div class="invalid-tooltip">
                Digite o Nome do Servico
            </div>
        </div>
        <div class="mb-3 position-relative">
            <label for="exampleInputnNome1" class="form-label">Descricao* </label>
            <input type="text" class="form-control " th:field="*{descricao}" placeholder="Descricao do Servico" >
        </div>
        <div class="mb-3 position-relative">
            <label for="exampleInputnNome1" class="form-label">Valor* </label>
            <input type="text" class="form-control " id="dinheiro" th:field="*{valor}" placeholder="Valor do Servico" required >
                <div class="invalid-tooltip">
                Digite o Valor do Servico
            </div>
        </div>
        <div class="">
            <a th:href="@{/servicos?page=0&size=10}"><button type="button" class="btn btn-dark btn-sm">Voltar</button></a>
        </div>
        <button type="submit" class="btn btn-dark btn-primary">Cadastrar</button>
    </form>
    </body>
</html>
