<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Clientes')}"></head>

<!--
    ${} -> Para Acessar Uma variavel ou Valor!
    @{} -> Para Acessar Links
    *{} -> Para Acessar Uma Variavel Relacionada a algum objeto exemplo: th:object"requisicaoCliente"
    ~{} ->  Para implementar algum fragmento do thymeleaf
-->

<body>
    <nav th:replace="~{fragmentos :: navmenu}" ></nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover " >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="cliente : ${clientes}">
                            <th class="col-1" scope="row" th:text="${cliente.getId()}">ID</th>
                            <td class="col-3" th:text="${cliente.email}">EMAIL</td>
                            <td class="col-3" th:text="${cliente.nome}">NOME</td>
                            <td class="col-2" th:text="${cliente.cpf}">CPF</td>
                            <td class="col-1"><a
                                    th:href="@{/clientes/{clienteID}(clienteID = ${cliente.id})}"><button type="button" class="btn btn-dark btn-sm">Detalhes</button></a></td>
                            <td class="col-1"><a
                                    th:href="@{/clientes/{clienteID}/edit(clienteID = ${cliente.id})}"><button type="button" class="btn btn-dark btn-sm">Editar</button></a></td>
                            <td class="col-1">
                                <a data-bs-toggle="modal" data-bs-target="#modaldelete" th:attr="data-bs-target='#modaldelete'+${cliente.id}" href="#" ><button type="button" class="btn btn-dark btn-sm" >Deletar</button>
                                </a>
                                <!-- Caixa de Notificacao Delete -->
                                <div th:replace="~{fragmentos :: confirmacaoDelete}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <a th:href="@{/clientes/new}"><button type="button" class="btn btn-dark btn-sm">Novo Cliente</button></a>
        </div>
    </div>
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=0&size=10}">1</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=1&size=10}">2</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=2&size=10}">3</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=3&size=10}">4</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=4&size=10}">5</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=5&size=10}">6</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=6&size=10}">7</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=7&size=10}">8</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=8&size=10}">9</a></li>
          <li class="page-item"><a class="page-link" th:href="@{/clientes?page=9&size=10}">10</a></li>
        </ul>
</body>

</html>