<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--th:replace=~{fragmentos :: head('Cadastro de Clientes')} -> aqui estou dizendo que vou pegar tudo do fragment head da minha classe fragmentos por causa dos :: , e estou definindo o titulo com o ('') eu ja criei isso la na classe fragmentos -->

<head th:replace="~{fragmentos :: head('Clientes')}"></head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
    <!-- Implementando o metodo POST para Enviar  -->
    <!-- th:object={$classeEntidade} -> Para especificar a classe entidade que vai se comumicar ou receber os valores-->
    <!-- th:name=nomedoelementoentidade -> se conecta diretamente com a entidade! salvando os dados! -->
    <!-- th:field=*{nomeelementoDTO} -> So vai funcionar se o html ,neste caso o form, estiver estanciado com o th:object=classeDTO, 
    o th:field se comunica com os meus elementos da classe DTO , para nao se comunicar diretamente com a classe entidade
    -->

    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <form th:object="${requisicaoCliente}" method="POST" action="/clientes" class="needs-validation " novalidate>
        <br>
        <h2 class="text-center">Novo Cliente </h2>
        <br>
        <div th:if="${erroCampoVazio == true}">
            <Script>alerta("ATENÇÃO", "Contém Campos Vazios!")</Script>
        </div>
        <div th:if="${erroEmailExistente == true}">
            <Script>alerta("ATENÇÃO", "E-mail Já Cadastrado!")</Script>
        </div>
        <div th:if="${erroCpfExistente == true}">
            <Script>alerta("ATENÇÃO", "CPF Já Cadastrado!")</Script>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="mb-3 position-relative">
                        <label for="exampleInputEmail1" class="form-label">E-mail* </label>
                        <input type="email" class="form-control" id="email" th:field="*{email}"
                            placeholder="Digite seu E-mail" required>
                        <div th:if="${erroEmailExistente == 'Email Já Cadastrado!'}">
                            <br>
                            <span th:text="${erroEmailExistente}" class="alert alert-danger" id="cpf-invalido"
                                role="alert"></span>
                        </div>
                        <div class="invalid-tooltip">
                            Digite um E-mail Valido
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputnNome1" class="form-label">Nome* </label>
                        <input type="text" class="form-control " id="nome" th:field="*{nome}"
                            placeholder="Digite seu Nome" required>
                        <div class="invalid-tooltip">
                            Informe seu Nome
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputPassword1" class="form-label">Telefone* </label>
                        <input type="text" class="form-control" id="phone" th:field="*{telefone}"
                            placeholder="Numero do Telefone" required>
                        <div class="invalid-tooltip">
                            Informe seu Telefone
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputPassword1" class="form-label">Senha* </label>
                        <input type="password" class="form-control" th:field="*{senha}" placeholder="Digite sua Senha"
                            required>
                        <div class="invalid-tooltip">
                            Informe sua Senha
                        </div>
                    </div>
                    <div class="mb-3 position-relative ">
                        <label for="exampleInputPassword1" class="form-label ">Celular* </label>
                        <input type="text" class="form-control" id="phoneCell" th:field="*{celular}"
                            placeholder="Numero do Telefone" required>
                        <div class="invalid-tooltip">
                            Informe seu Celular
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputIdade1" class="form-label">CPF* </label>
                        <input type="text" class="form-control " th:field="*{cpf}" th:errorclass="is-invalid"
                            id="campoCpf" placeholder="Digite seu CPF"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                        <div th:if="${erroCpfExistente == 'CPF Já Cadastrado!'}">
                            <br>
                            <span th:text="${erroCpfExistente}" class="alert alert-danger" id="cpf-invalido"
                                role="alert"></span>
                        </div>
                        <div class="invalid-tooltip">
                            Obrigatorio
                        </div>
                        <div class="invalid-tooltip" th:errors="*{cpf}">
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputIdade1" class="form-label">Sexo* </label>
                        <select class="form-select" aria-label="Default select example" id="sexo" th:field="*{sexo}"
                            required>
                            <option value="">Selecione</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outros">Outros</option>
                        </select>
                        <div class="invalid-tooltip">
                            Sexo não Selecionado
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputNascimento1" class="form-label">Data Nascimento* </label>
                        <input type="date" class="form-control" id="nascimento" th:field="*{nascimento}"
                            max="9999-12-31" required>
                        <div class="invalid-tooltip">
                            Informe sua data de Nascimento
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="exampleInputnNome1" class="form-label ">Cep* </label>
                    <div class="mb-3 position-relative ">
                        <input type="text" class="form-control " id="cep" th:field="*{cep}" placeholder="Digite o CEP"
                            required>
                        <div class="invalid-tooltip">
                            Digite o CEP
                        </div>
                    </div>
                    <div class="mb-3 position-relative ">
                        <label for="exampleInputnNome1" class="form-label">Logradouro* </label>
                        <input type="text" class="form-control" placeholder="Digite o Logradouro" id="logradouro" th:field="*{logradouro}" required>
                        <div class="invalid-tooltip">
                            Digite o Logradouro
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputnNome1" class="form-label">Numero* </label>
                        <input type="text" class="form-control" id="numeroEndereco" th:field="*{numero}"
                            placeholder="Digite o Numero" required>
                        <div class="invalid-tooltip">
                            Digite o Numero
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputnNome1" class="form-label">Complemento </label>
                        <input type="text" class="form-control" placeholder="Digite o Complemento" th:field="*{complemento}">
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputnNome1" class="form-label">Bairro* </label>
                        <input type="text" class="form-control" placeholder="Digite o Bairro" id="bairro" th:field="*{bairro}" required>
                        <div class="invalid-tooltip">
                            Digite o Bairro
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputnNome1" class="form-label">Cidade* </label>
                        <input type="text" class="form-control" id="localidade" th:field="*{localidade}" required>
                        <div class="invalid-tooltip">
                            Digite a Cidade
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputnNome1" class="form-label">Estado* </label>
                        <input type="text" class="form-control " id="uf" th:field="*{uf}" required>
                        <div class="invalid-tooltip">
                            Digite o Estado
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container text-center ">
                <a th:href="@{/clientes}"><button type="button" class="btn btn-dark button"><i
                            class="fa-solid fa-rotate-left"></i> Voltar</button></a>
                <button type="submit" class="btn btn-dark button"><i class="fa-regular fa-floppy-disk"></i>
                    <b>Salvar</b></button>
                <br><br>
            </div>
        </div>
    </form>


</body>

</html>