<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Cliente #' + ${cliente.id})}"></head>

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <div class="tituloDetalhesCliente">
        <h1 class="container text-center">Detalhes do Cliente</h1>
    </div>
    <div class="container ">
        <div class="col align-self-center">
            <main>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item"><b>Nome:</b> <span th:text="${cliente.nome}"></span></li>
                                <li class="list-group-item"><b>Email:</b> <span th:text="${cliente.email}"></span></li>
                                <li class="list-group-item"><b>Telefone:</b> <span th:text="${cliente.telefone}"></span></li>
                                <li class="list-group-item"><b>Cpf:</b> <span th:text="${cliente.cpf}"></span></li>
                                <li class="list-group-item"><b>Nascimento:</b> <span th:text="${cliente.nascimento}"></span></li>
                                <li class="list-group-item"><b>Sexo:</b> <span th:text="${cliente.sexo}"></span></li>
                            </ul>

                        </div>
                    </div>
                    <div class="">
                        <div class="col-12 container text-start">
                            <a th:href="@{/clientes?page=0&size=10}"><button type="button"
                                    class="btn btn-dark btn-sm">Voltar</button></a>
                            <div class="col-12 container text-center">
                                <a th:href="@{/clientes/{clienteId}/edit(clienteId = ${cliente.id})}"><button
                                        type="button" class="btn btn-dark">Editar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </main>
</body>

</html>