<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Produtos')}"></head>

<!--
    ${} -> Para Acessar Uma variavel ou Valor!
    @{} -> Para Acessar Links
    *{} -> Para Acessar Uma Variavel Relacionada a algum objeto exemplo: th:object"requisicaoCliente"
    ~{} ->  Para implementar algum fragmento do thymeleaf
-->

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover " >
                    <thead>
                        <tr>
                            <th scope="col">Cod.</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Descricao</th>
                            <th scope="col">ESTOQUE</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="produto : ${produtos}">
                            <th class="col-1" scope="row" th:text="${produto.getId()}">ID</th>
                            <td class="col-3" th:text="${produto.nome}">NOME</td>
                            <td class="col-3" th:text="${produto.descricao}">DESCRICAO</td>
                            <td class="col-2" th:text="${produto.estoque}">ESTOQUE</td>
                            <td class="col-2" th:text="${'R$ '+produto.valor}">VALOR</td>
                            <td class="col"><a
                                    th:href="@{/produtos/{produtosId}/edit(produtosId = ${produto.id})}"><button type="button" class="btn btn-dark btn-sm"><i class="fa-solid fa-pen-to-square"></i></button></a></td>
                            <td class="col">
                                <a data-bs-toggle="modal" data-bs-target="#modaldelete" th:attr="data-bs-target='#modaldelete'+${produto.id}" href="#" ><button type="button" class="btn btn-dark btn-sm" ><i class="fa-solid fa-trash-can"></i></button>
                                </a>
                                <!-- Caixa de Notificacao Delete -->
                                <div th:replace="~{fragmentos :: confirmacaoDeleteProduto}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <a th:href="@{/produtos/new}"><button type="button" class="btn btn-dark btn-sm"><i class="fa-solid fa-plus"></i> Novo Produto</button></a>
        </div>
    </div>
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=0&size=10}">1</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=1&size=10}">2</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=2&size=10}">3</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=3&size=10}">4</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=4&size=10}">5</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=5&size=10}">6</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=6&size=10}">7</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=7&size=10}">8</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=8&size=10}">9</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/produtos?page=9&size=10}">10</a></li>
      </ul>
</body>

</html>
