<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Produtos')}"></head>

<!--
    ${} -> Para Acessar Uma variavel ou Valor!
    @{} -> Para Acessar Links
    *{} -> Para Acessar Uma Variavel Relacionada a algum objeto exemplo: th:object"requisicaoCliente"
    ~{} ->  Para implementar algum fragmento do thymeleaf
-->

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <br>
    <h1 class="text-center">Produtos</h1>
    <br>
    <div th:if="${produtoCadastrado == true}">
        <script>alertaCadastro("SUCESSO" , "Produto Cadastrado!")</script>
    </div>
    <div th:if="${produtoRemovido == true}">
        <script>alertaRemover("ATENÇÃO", "Produto Removido Com Sucesso!")</script>
    </div>
    <div th:if="${produtoEditado == true}">
        <script>alertaEditar("SUCESSO", "Produto Editado!")</script>
    </div>
    <div th:if="${erroProdutoNaoEncontrado == true}">
        <script>alerta("ATENÇÃO", "Produto Não Encontrado!")</script>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table id="tabela" class="table table-striped responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Cod. Produto</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Estoque</th>
                            <th>Valor</th>
                            <th></th>
                            <th></th>

                    </thead>
                    <tbody>
                        <tr th:each="produto : ${produtos}">
                            <th class="col-1" th:text="${produto.codigoProduto}">ID</th>
                            <td class="col-3" th:text="${produto.nome}">NOME</td>
                            <td class="col-3" th:text="${produto.descricao}">DESCRICAO</td>
                            <td class="col-2" th:text="${produto.estoque}">ESTOQUE</td>
                            <td class="col-2" th:text="${'R$ '+produto.valor}">VALOR</td>
                            <td class="col"><a
                                    th:href="@{/produtos/{produtosId}/edit(produtosId = ${produto.id})}"><button
                                        type="button" class="btn btn-dark btn-sm"><i
                                            class="fa-solid fa-pen-to-square"></i></button></a></td>
                            <td class="col">
                                <a data-bs-toggle="modal" data-bs-target="#modaldelete"
                                    th:attr="data-bs-target='#modaldelete'+${produto.id}" href="#"><button type="button"
                                        class="btn btn-dark btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                </a>
                            </td>
                            <!-- Caixa de Notificacao Delete -->
                            <div th:replace="~{fragmentos :: confirmacaoDeleteProduto}"></div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <a th:href="@{/produtos/new}"><button type="button" class="btn btn-dark btn-sm button"><i
                        class="fa-solid fa-plus"></i> Novo Produto</button></a>
        </div>
    </div>

</body>

</html>