.formCadastro{
    width: 500px;
    height: 20px;
    position: absolute;
    top: 70px;
    left: 37%;
}

.formCadastro .btn-primary{
    position: absolute;
    left: 200px;
}

.formCadastro .titulo-cadastro-cliente{
    position: relative;
    font-family: sans-serif;
    top: -10px;
    left: 80px;
    padding: 10px;
    font-size: 50px;
}

.formEditar{
    width: 500px;
    height: 20px;
    position: absolute;
    top: 120px;
    left: 37%;
}

.formEditar .btn-primary{
    position: absolute;
    left: 200px;
}

.formEditar .titulo-editar-cliente{
    position: relative;
    font-family: sans-serif;
    top: -30px;
    left: 80px;
    padding: 10px;
    font-size: 50px;
}

.tituloDetalhesCliente{
    padding: 40px;
}

#status{
    border-radius: 200px;
    
}

#cep{

    width: 300px;
    height: 30px;
}

#logradouro{
    width: 300px;
    height: 30px;
}

#numero{
    width: 300px;
    height: 30px;
}

#complemento{
    width: 300px;
    height: 30px;
}
#bairro{
    width: 300px;
    height: 30px;
}
#localidade{
    width: 300px;
    height: 30px;
}

#uf{
    width: 300px;
    height: 30px;
}

#nascimento{
    width: 300px;
    height: 30px;
}

#sexo{
    width: 300px;
    height: 35px;
}
#campoCpf{
    width: 300px;
    height: 30px;
}
#phone{
    width: 300px;
    height: 30px;
}
#phoneCell{
    width: 300px;
    height: 30px;
}
#nome{
    width: 300px;
    height: 30px;
}
#email{
    width: 300px;
    height: 30px;
}

#numeroEndereco{
    width: 300px;
    height: 30px;
}

#voltarCliente{
    width: 800px;
}
#voltarEditarCliente{
    width: 800px;
}

