@import "./paletaDeCores.css";

:root{
 --cinzaClaro: #7B8486;   
 --teste: red;   
}



.formCadastro .btn-primary{
    position: absolute;
    left: 200px;
}

.formCadastro .titulo-cadastro-cliente{
    position: relative;
    font-family: sans-serif;
    top: -10px;
    left: 80px;
    padding: 10px;
    font-size: 50px;
}

.formEditar{
    width: 500px;
    height: 20px;
    position: absolute;
    top: 120px;
    left: 37%;
}

.formEditar .btn-primary{
    position: absolute;
    left: 200px;
}

.formEditar .titulo-editar-cliente{
    position: relative;
    font-family: sans-serif;
    top: -30px;
    left: 80px;
    padding: 10px;
    font-size: 50px;
}

.tituloDetalhesCliente{
    padding: 40px;
}

#status{
    border-radius: 200px;
    
}

#voltarCliente{
    width: 800px;
}
#voltarEditarCliente{
    width: 800px;
}
.bootstrap-select{
    width: auto;
}

