<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Clientes')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="cliente : ${clientes}">
                            <th class="col-1" scope="row" th:text="${cliente.getId()}">ID</th>
                            <td class="col-3" th:text="${cliente.email}">EMAIL</td>
                            <td class="col-3" th:text="${cliente.nome}">NOME</td>
                            <td class="col-2" th:text="${cliente.cpf}">CPF</td>
                            <td class="col-1"><a href="#">Detalhes</a></td>
                            <td class="col-1"><a href="#">Editar</a></td>
                            <td class="col-1"><a href="#">Deletar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="cadastro">Novo Cliente</a>
        </div>
    </div>
</body>

</html>