<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Home')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>

<h3 class="m-2">DASHBOARD</h3>
<script th:src="@{/js/Alert.js}"></script>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users fa-3x text-light"></i>
                <div class="ms-3">
                    <p class="mb-2 text-light">Total de Clientes</p>
                    <h6 class="mb-0 text-light" th:text="${contagemCliente}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-screwdriver-wrench fa-3x text-light"></i>
                <div class="ms-3">
                    <p class="mb-2 text-light">Total de Serviços</p>
                    <h6 class="mb-0 text-light" th:text="${contagemServico}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-box fa-3x text-light"></i>
                <div class="ms-3">
                    <p class="mb-2 text-light">Total de Produtos</p>
                    <h6 class="mb-0 text-light" th:text="${contagemProduto}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-light"></i>
                <div class="ms-3">
                    <p class="mb-2 text-light">Ordens de Serviço</p>
                    <h6 class="mb-0 text-light" th:text="${contagemOrdemServico}"></h6>
                </div>
            </div>
        </div>
    </div>
    <canvas id="myChart" style="width:50%;max-width:500px"></canvas>

    <script th:inline="javascript">  
      var xValues = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
      var yValues = [1, 2, 3 ,4 ,5 ,6 ,7 ,8 ,9 ,10, 11 ,12];
      var barColors = [
        "#b91d47",
        "#00aba9",
        "#00aba9",
        "#00aba9",
        "#00aba9",
        "#00aba9",
        "#00aba9",
        "#00aba9",
        "#00aba9",
        "#00aba9"
      ];

      new Chart("myChart", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          legend: {
            display: false,
            text: ""
          },
          title: {
            display: false,
            text: "Dados Lidos no Ano de " + new Date().getFullYear()
          }
        }
      });
    </script>
</div>

</body>

</html>