<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--th:replace=~{fragmentos :: head('Cadastro de Clientes')} -> aqui estou dizendo que vou pegar tudo do fragment head da minha classe fragmentos por causa dos :: , e estou definindo o titulo com o ('') eu ja criei isso la na classe fragmentos -->

<head th:replace="~{fragmentos :: head('Ordem de Servico')}"></head>

<body>
    <!-- Implementando o metodo POST para Enviar  -->
    <!-- th:object={$classeEntidade} -> Para especificar a classe entidade que vai se comumicar ou receber os valores-->
    <!-- th:name=nomedoelementoentidade -> se conecta diretamente com a entidade! salvando os dados! -->
    <!-- th:field=*{nomeelementoDTO} -> So vai funcionar se o html ,neste caso o form, estiver estanciado com o th:object=classeDTO, 
    o th:field se comunica com os meus elementos da classe DTO , para nao se comunicar diretamente com a classe entidade
    -->
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <br>
    <h2 class="text-center">Editar Ordem de Servico </h2>
    <br>
    <form th:object="${requisicaoOrdemServico}" method="POST"
        th:action="@{/ordemservico/{ordemServicoId}(ordemServicoId = ${ordemServicoId})}" class="needs-validation "
        novalidate>
        <div th:if="${ordemServicoCriada == true}">
            <script>alertaCadastro("SUCESSO", "Ordem de Serviço Criada!")</script>
        </div>

        <div th:if="${ordemServicoEditada == true}">
            <script>alertaCadastro("SUCESSO", "Ordem de Serviço Editada!")</script>
        </div>

        <div th:if="${ordemServicoProdutoAdd == true}">
            <script>alertaCadastro("SUCESSO", "Produto Adicionado!")</script>
        </div>

        <div th:if="${ordemServicoServicoAdd == true}">
            <script>alertaCadastro("SUCESSO", "Serviço Adicionado!")</script>
        </div>

        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home">Detalhes OS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu1">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Serviços</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <div class="mb-3 position-relative">
                                <label for="exampleInputFinal1" class="form-label"><b>Cliente*</b> </label>
                                <input type="text" class="form-control" th:field="*{cliente.nome}" max="9999-12-31"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3 position-relative">
                                <div class="mb-3 position-relative">
                                    <label for="exampleInputFinal1" class="form-label"><b>Tecnico*</b> </label>
                                    <input type="text" class="form-control" th:field="*{tecnico.nome}" max="9999-12-31"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <div class="container text-start">
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                    <div class="mb-3 position-relative">
                                        <label><b>Status* </b></label>
                                        <label for="exampleInputIdade1" class="form-label align-self-start"></b>
                                        </label>
                                        <select class="form-select" name="statusOrdemServico" required>
                                            <option th:each="status : ${status}" th:value="${status.id}"
                                                th:text="${status.status}"
                                                th:selected="${status.id == statusSelecionado.id}">
                                            </option>
                                        </select>
                                        <div class="invalid-tooltip">
                                            Status Nao Selecionado
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3 position-relative">
                                        <label for="exampleInputFinal1" class="form-label"><b>Data Final*</b> </label>
                                        <input type="date" class="form-control" th:field="*{dataFinal}" max="9999-12-31"
                                            required>
                                        <div class="invalid-tooltip">
                                            Informe a Data Final
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3 position-relative">
                                        <label for="exampleInputFinal1" class="form-label"><b>Garantia*</b> </label>
                                        <input type="number" class="form-control" th:field="*{garantia}" required>
                                        <div class="invalid-tooltip">
                                            Informe a Garantia
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="container text-start">
                                <div class="row">
                                    <div class="col-sm align-self-start">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label "><b>Descrição
                                                    Produto/Servico</b></label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                                th:field="*{descricao}"></textarea>
                                        </div>
                                    </div>
                                    <div class="col align-self-start">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1"
                                                class="form-label"><b>Defeito</b></label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                                th:field="*{defeito}"></textarea>
                                        </div>
                                    </div>
                                    <div class="container text-start">
                                        <div class="row">
                                            <div class="col align-self-start">
                                                <div class="mb-3">
                                                    <label for="exampleFormControlTextarea1"
                                                        class="form-label"><b>Obserservações</b></label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="5" th:field="*{observacoes}"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm align-self-start">
                                                <div class="mb-3">
                                                    <label for="exampleFormControlTextarea1" class="form-label"><b>Laudo
                                                            Técnico</b></label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="5" th:field="*{laudotecnico}"></textarea>
                                                </div>
                                            </div>
                                            <div class="container text-center ">
                                                <a th:href="@{/ordemservico}"><button type="button"
                                                        class="btn btn-dark button"><i
                                                            class="fa-solid fa-rotate-left"></i>
                                                        Voltar</button></a>
                                                <button type="submit" class="btn btn-dark btn-primary button"><i
                                                        class="fa-regular fa-floppy-disk"></i>
                                                    <b>Salvar</b></button>
                                                <a th:href="@{/ordemservico/{ordemServicoId}/report/(ordemServicoId = ${ordemServicoId})}">
                                                <button  type="button" class="btn btn-dark btn-primary button"><i
                                                        class="fa-solid fa-print"></i>
                                                    <b>Imprimir</b></button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
    </form>
    <div class="tab-pane container fade" id="menu1">
        <form th:object="${requisicaoProdutoOrdem}" method="POST"
            th:action="@{/ordemservico/{ordemServicoId}/produtoadd(ordemServicoId = ${ordemServicoId})}"
            class="needs-validation" novalidate>
            <div class="containter">
                <div class="row justify-content-center">

                    <div class="col-sm-6 text-start">
                        <div class="mb-3 position-relative">
                            <label for="exampleDataList" class="form-label"><b>Adicionar Produto</b></label>
                            <select data-width="600px" data-size="10" th:name="produto" class="selectpicker"
                                id="selectCliente" data-live-search="true" required>
                                <option value="">Selecione</option>
                                <option data-icon="fa-solid fa-box" th:each="produto : ${produto}"
                                    th:value="${produto.id}"
                                    th:text="${produto.nome + ' | ' + 'Preço: R$ ' + produto.valor + ' | '+ 'Estoque: ' + produto.estoque}">
                                </option>
                            </select>

                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark btn-primary">Adicionar</button>
            </div>
            <br>
            <table id="tabela" class="table table-striped responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Cod. Produto</th>
                    <th>Nome</th>
                    <th>Estoque</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produtos : ${listaProdutos}">
                    <th class="col-1" scope="row" th:text="${produtos.produto.codigoProduto}">Nº Produto</th>
                    <td class="col-3" th:text="${produtos.produto.nome}">Nome</td>
                    <td class="col-3" th:text="${produtos.produto.estoque}">Estoque</td>
                    <td class="col-3" th:text="'R$ ' + ${produtos.produto.valor}">Valor</td>
                </tr>
                </tbody>
            </table>
        </form>
        <br><br>
        <div id="postData"></div>
    </div>
    <div class="tab-pane container fade" id="menu2">
        <form th:object="${requisicaoServicoOrdem}" method="POST"
            th:action="@{/ordemservico/{ordemServicoId}/servicoadd(ordemServicoId = ${ordemServicoId})}"
            class="needs-validation" novalidate>
            <div class="containter">
                <div class="row justify-content-center">

                    <div class="col-sm-6 text-start">
                        <div class="mb-3 position-relative">
                            <label for="exampleDataList" class="form-label"><b>Adicionar Serviço</b></label>
                            <select data-width="600px" data-size="10" th:name="servico" class="selectpicker"
                                id="selectCliente" data-live-search="true" required>
                                <option value="">Selecione</option>
                                <option data-icon="fa-solid fa-box" th:each="servico : ${servico}"
                                    th:value="${servico.id}"
                                    th:text="${servico.nome + ' | ' + 'Preço: R$ ' + servico.valor} ">
                                </option>
                            </select>

                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark btn-primary">Adicionar</button>
            </div>
            <br>
            <table id="tabelaServico" class="table table-striped responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Cod. </th>
                    <th>Nome</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="servicos : ${listaServico}">
                    <th class="col-1" scope="row" th:text="${servicos.servico.id}">Nº Servico</th>
                    <td class="col-3" th:text="${servicos.servico.nome}">Nome</td>
                    <td class="col-3" th:text="'R$ ' + ${servicos.servico.valor}">Valor</td>
                </tr>
                </tbody>
            </table>

        </form>
        <br><br>

</body>

</html>