<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Ordem Servico')}"></head>

<!--
    ${} -> Para Acessar Uma variavel ou Valor!
    @{} -> Para Acessar Links
    *{} -> Para Acessar Uma Variavel Relacionada a algum objeto exemplo: th:object"requisicaoCliente"
    ~{} ->  Para implementar algum fragmento do thymeleaf
-->

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <br>
    <h1 class="text-center">Ordens de Serviço</h1>
    <br>
    <div th:if="${ordemServicoDeletada}">
        <script>alertaRemover("ATENÇÃO", "Ordem de Serviço Removida Com Sucesso!")</script>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <table id="tabela" class="table table-striped responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nº OS</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ordemServico : ${ordemServico}">
                        <th class="col-1" scope="row" th:text="${ordemServico.getId()}">Nº OS</th>
                        <td class="col-3" th:text="${ordemServico.cliente.nome}">Nome</td>
                        <td class="col-2" th:text="${ordemServico.cliente.telefone}">Telefone</td>
                        <th class="col-2" th:text="${#temporals.format(ordemServico.dataInicial, 'dd-MM-yyyy')}">Datainicial</th>
                        <th class="col-2" th:text="${#temporals.format(ordemServico.dataFinal, 'dd-MM-yyyy')}">DataFinal</th>
                        <th class="col-2">
                            <div class="badge bg-primary text-wrap" id="status"
                                th:text="${ordemServico.statusOrdemServico.status}"> Status</div>
                        </th>
                        <td class="col"><a th:href="@{/ordemservico/{ordemServicoId}(ordemServicoId = ${ordemServico.id})}"><button type="button" class="btn btn-dark btn-sm"><i
                                        class="fa-solid fa-magnifying-glass"></button></a></td>
                        <td class="col"><a th:href="@{/ordemservico/{ordemServicoId}/edit(ordemServicoId = ${ordemServico.id})}"><button type="button" class="btn btn-dark btn-sm"><i
                                        class="fa-solid fa-pen-to-square"></i></button></a></td>
                        <td class="col">
                            <a data-bs-toggle="modal" data-bs-target="#modaldelete"
                                th:attr="data-bs-target='#modaldelete'+${ordemServico.id}" href="#"><button
                                    type="button" class="btn btn-dark btn-sm"><i
                                        class="fa-solid fa-trash-can"></i></button>
                            </a>
                        </td>
                        <!-- Caixa de Notificacao Delete -->
                        <div th:replace="~{fragmentos :: confirmacaoDeleteOs}"></div>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <a th:href="@{/ordemservico/new}"><button type="button" class="btn btn-dark btn-sm button"><i
                        class="fa-solid fa-plus"></i> Nova Ordem de Serviço</button></a>
        </div>
    </div>
</body>

</html>