<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Ordem Servico')}"></head>

<!--
    ${} -> Para Acessar Uma variavel ou Valor!
    @{} -> Para Acessar Links
    *{} -> Para Acessar Uma Variavel Relacionada a algum objeto exemplo: th:object"requisicaoCliente"
    ~{} ->  Para implementar algum fragmento do thymeleaf
-->

<body>
    <nav th:replace="~{fragmentos :: navmenu}"></nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover " >
                    <thead>
                        <tr>
                            <th scope="col">Nº OS</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Data Inicial</th>
                            <th scope="col">Data Final</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="ordemServico : ${ordemServico}">
                            <th class="col-1" scope="row" th:text="${ordemServico.getId()}">Nº OS</th>
                            <td class="col-3" th:text="${ordemServico.cliente.nome}">Nome</td>
                            <td class="col-2" th:text="${ordemServico.cliente.telefone}">Telefone</td>
                            <th class="col-2" th:text="${ordemServico.dataInicial}">Datainicial</th>
                            <th class="col-2" th:text="${ordemServico.dataFinal}">DataFinal</th>
                            <th class="col-2" ><div class="badge bg-primary text-wrap"  id="status" th:text="${ordemServico.statusOrdemServico}"> Status</div></th>
                            <td class="col-1"><a
                                    href="#"><button type="button" class="btn btn-dark btn-sm">Detalhes</button></a></td>
                            <td class="col-1"><a
                                    href="#"><button type="button" class="btn btn-dark btn-sm">Editar</button></a></td>
                            <td class="col-1">
                                <td class="col-1">
                                    <a data-bs-toggle="modal" data-bs-target="#modaldelete" th:attr="data-bs-target='#modaldelete'+${ordemServico.id}" href="#" ><button type="button" class="btn btn-dark btn-sm" >Deletar</button>
                                    </a>
                                    <!-- Caixa de Notificacao Delete -->
                                    <div th:replace="~{fragmentos :: confirmacaoDeleteOs}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <a th:href="@{/ordemservico/new}"><button type="button" class="btn btn-dark btn-sm">Nova OS</button></a>
        </div>
    </div>
</body>

</html>