<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--th:replace=~{fragmentos :: head('Cadastro de Clientes')} -> aqui estou dizendo que vou pegar tudo do fragment head da minha classe fragmentos por causa dos :: , e estou definindo o titulo com o ('') eu ja criei isso la na classe fragmentos -->
<head th:replace="~{fragmentos :: head('Nova OS')}"></head>

<body>
    <!-- Implementando o metodo POST para Enviar  -->
    <!-- th:object={$classeEntidade} -> Para especificar a classe entidade que vai se comumicar ou receber os valores-->
    <!-- th:name=nomedoelementoentidade -> se conecta diretamente com a entidade! salvando os dados! -->
    <!-- th:field=*{nomeelementoDTO} -> So vai funcionar se o html ,neste caso o form, estiver estanciado com o th:object=classeDTO, 
    o th:field se comunica com os meus elementos da classe DTO , para nao se comunicar diretamente com a classe entidade
    -->
<nav th:replace="~{fragmentos :: navmenu}"></nav>
    <form th:object="${requisicaoOrdemServico}" method="POST" action="/ordemservico" class="formCadastro needs-validation "
        novalidate>
        <h2 class="titulo-cadastro-cliente ">Nova OS </h2>
        <div class="mb-3 position-relative">
            <label for="exampleInputIdade1" class="form-label">Status* </label>
            <select class="form-select" name="statusOrdemServico" required>
                <option value="">Selecione</option>
                <option th:each="status : ${statusOrdemServico}" th:value="${status}" th:text="${status}"></option>        
            </select>
            <div class="invalid-tooltip">
                Status Nao Selecionado
            </div>
        </div>
        <div class="mb-3 position-relative">
            <label for="exampleInputIdade1" class="form-label">Cliente* </label>
            <select class="form-select" th:name="cliente" required>
                <option value="">Selecione</option>
                <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>        
            </select>
            <div class="invalid-tooltip">
                Cliente Nao Selecionado
            </div>
        </div>

        <div class="mb-3 position-relative">
            <label for="exampleInputIdade1" class="form-label">Produto* </label>
            <select class="form-select" th:name="produto" required>
                <option value="">Selecione</option>
                <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>        
            </select>
            <div class="invalid-tooltip">
                Produto Nao Selecionado
            </div>
        </div>
        <div class="mb-3 position-relative">
            <label for="exampleInputIdade1" class="form-label">Servico* </label>
            <select class="form-select" th:name="servico" required>
                <option value="">Selecione</option>
                <option th:each="servico : ${servicos}" th:value="${servico.id}" th:text="${servico.nome}"></option>        
            </select>
            <div class="invalid-tooltip">
                Servico Nao Selecionado
            </div>
        </div>
        <div class="mb-3 position-relative">
            <label for="exampleInputFinal1" class="form-label">Data Final* </label>
            <input type="date" class="form-control" th:field="*{dataFinal}" required>
            <div class="invalid-tooltip">
                Informe a Data Final
            </div>
        </div>
        <div class="">
            <a th:href="@{/ordemservico}"><button type="button" class="btn btn-dark btn-sm">Voltar</button></a>
        </div>
        <button type="submit" class="btn btn-dark btn-primary">Cadastrar</button>
    </form>
</body>

</html>